
.button.cell {
  /*background-color: rgba(0, 141, 244, 1);*/

  background-color: rgba(8, 127, 254, 0.5);
  color:black;
  font-weight:bold;

  font-family: 'Varela Round', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  /*border-radius:30px;*/ 
  margin-left:10%;
  width:90%;
}

.question {  
  line-height: 1.25rem;
  border-radius: 1.25rem;
  padding:.75rem;
  text-align:center;
  border-top-left-radius: 0;
  background-color: rgba(206,206,206,0.50);
  overflow-wrap: break-word;
  border: 2px dimgray  solid;

  font-family: 'Varela Round', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  margin-right:10%;
  width:90%;
}
/*#question-field {
  padding: 10px 15px 10px 15px;
    background-color: gray;
    border-radius: 0px 0px 30px 30px;
    border:4px dimgray  solid;
    border-top:none;
    }*/
    img.kal-logo {
      max-width: 80%;
      margin:12px;
    }
    /*styles for when the button has not been pressed*/
    .answer.button {
      padding:.75rem;
      text-align:center;
      border-radius: 1.25rem;
      border-top-right-radius: 0;
      overflow-wrap: break-word;
      border: 3px dimgray  solid;
    }

    /*decrease size of archived bubbles here!*/
    .answer.archived {
      padding:.75rem;
      text-align:center;
      border-radius: 1.25rem;
      border: 2px dimgray  solid;
      border-top-right-radius: 0;
      background-color: rgba(8, 127, 254, 0.5);

      font-family: 'Varela Round', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

    }

    .question.archived {
      line-height: 1.25rem;
      border-radius: 1.25rem;
      padding:.75rem;
      text-align:center;
      /*transition: border-radius .25s ease-out .075s;*/
      border: 2px dimgray  solid;
      border-top-left-radius: 0;
      background: rgba(206,206,206,0.50);
      overflow-wrap: break-word;
      margin-right:10%;
      width:90%;
    }
    /*for when the user has selected a button*/
    #chat-history{
      background-color: rgba(206,206,206,0.50);
      max-height:250px;
      /*height:250px;*/
      overflow-y: scroll;
      margin-top:10px;
      border: 3px dimgray  solid;
      border-radius:5px;

    padding: 10px;

    } 
    .chat-history-mobile{
      background: rgba(206,206,206,0.50);
    } 
    h1  {
      /*Changed - to add google font*/
      font-family: 'Fredoka One', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    }